/* Pagination.css */

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.prev-button,
.next-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    position: absolute;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.page-numbers {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-number {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-number:hover {
    background-color: #f0f0f0;
}

.page-number.active {
    background-color: #007BFF;
    color: #fff;
}

.prev-button:disabled,
.next-button:disabled {
    cursor: not-allowed;
    color: #ccc;
}
