.booksrow {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
.newbooks
{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 360px)  { 
    
    

}